@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Tilt+Warp&display=swap&family=Gloock&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: "Tilt Warp", sans-serif;
    font-size: large;
    color: #2E3033;
}

/* web site logo */
  
#logo{
    font-size: 250%;
    font-weight: 300;
    color: #2E3033;

    float: left; 
    margin-left: 25px;
    
    letter-spacing: 0.5px;
    word-spacing: 10px;
    text-transform: uppercase;
    line-height: 75px;
}

/* navigation bar */

#nav-bar > li{
    font-size: 125%;
    font-weight: 100;
    list-style-type: none;
    
    margin-right: 25px;

}

#nav-bar{
    display: flex;
    float: right;
    line-height: 75px;
}

#nav-bar a{
    text-decoration: none; 
    color: #2E3033; 
}

#nav-bar a:hover{
    border-bottom: 3px solid #59606E;
    color: #59606E;
}

.current-page{
    border-bottom: 3px solid #2E3033;
}

/* opening image */

#opening-image{
    width: 50%; 
    height:550px;
    margin-left: 25px;
    border-radius: 15px;
    position: relative; 
    margin-top: 30px; 
}

/* quote */

#quote{
   font-family: Gloock, sans-serif;
   font-size: 110%;
   position: absolute;
   top: 40%;
   left: 6%;
   right: 50%;
   color: white;
   letter-spacing: 3px;
   word-spacing: 10px; 
}

#quote h4{
    float: right;
}

/* about section */

#about h2{
    font-size: 180%;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
}

#about p, #reading-benefits li{
    font-size: 250%;
    font-family: Dongle, sans-serif;
    line-height: 35px;   
}

#about{
    margin-right: 25px;
    position: absolute;
    left: 55%;
    top: 15%;
}

#about a{
    color:#7B9E7F;
}


/* benefits of reading */

#reading-benefits{
    margin-left: 5%; 
    margin-right: 5%;
    padding-top: 6%;
    padding-bottom: 5%;
}

#reading-benefits h2{
    font-size: 180%;
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 2%; 
}

/* social media links */

 footer{
    height: 200px;
    background-color:#7B9E7F;
}

footer li{
    list-style-type: none;
}

#contact-info{
    text-align: center;
    padding-top: 20px;
    font-size: 100%;
}

#contact-info i {
    padding-right: 10px;
}

#links{
    text-align: center;
}

#links > li{
    display: inline;
}

#links i{
    color: #2E3033;
    font-size: 200%;
    padding: 50px;
}

/* sign up form */

form{
    clear:both;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    margin-bottom: 10%;
    background-color: #E6E6E3;
}

input{
    border: 1px solid black;
}

form h2{
    text-align: center;
    padding-bottom: 5%;
}

.personal-info {
    padding-bottom: 5%;
    display: inline-block;
}

input[type=text],input[type=email]{
    padding: 3px;
    border-radius: 2px;
    width: 30%;
    float: right;
    margin-right: 30%;  
} 

.checkbox{
    text-align: center;
}

input[type=submit]{
    background-color: #595958;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    float: right;
    font-weight: 700;   
    font-size: 100%;
}

input[type=submit]:hover{
    background-color: #595958;
    color: #D9D9D6;
}

/* final page */

#final-image img{
    width: 90%;
    height: 700px;
    border-radius: 1%;
}

#final-image{
    position: relative;
    text-align: center;
    margin: 1%;
}

#thanks{
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 200%;
    color: black;
    padding: 0 20%;
}

#link-home{
    color: orangered;
    font-size: 150%;
    position: absolute;
    left: 40%;
    bottom: 35%;
}

/* about events */

#meetings{
    clear: both;
    font-size: 250%;
    font-family: Dongle, sans-serif;
    line-height: 35px; 
    padding: 3% 5% 5%;
}

/* events */
#events div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    overflow: hidden;
    height: 500px;
    display: inline-block;
    margin: 0 1%;
    border-radius: 5px;
}

#event1{
    background: url("../images/macaroons\ and\ tea\ 2.jpg");
}

#event2{
    background: url("../images/victoria\ sponge\ and\ tea.jpg"); 
}

#event3{
    background: url("../images/tea\ and\ walnut\ cake.jpg");
}

#events{
    text-align: center;
}

#events h3{
    margin-top: 10%;
    background-color: rgba(218,218,218, 0.5);
    padding: 10px 0;

}
#events h4{
    background-color: rgba(218,218,218, 0.5);
}

#events a{
    color: #2E3033;
}

/* book suggestions */
#suggestions h2{
    text-align: center;
    padding: 5%;
}

#suggestions img{
    width: 17%;
    height: 350px;
    padding: 0 1% 5%; 
}

#suggestions{
    text-align: center;
}

.book-info{
    display: inline-block;
    width: 15%;
    padding: 0 2% 5%;
        
}

