@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Tilt+Warp&display=swap&family=Gloock&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: "Tilt Warp", sans-serif;
    font-size: large;
    color: #2E3033;
}

/* web site logo */
  
#logo{
    font-size: 250%;
    font-weight: 300;
    color: #2E3033;

    float: left; 
    margin-left: 25px;
    
    letter-spacing: 0.5px;
    word-spacing: 10px;
    text-transform: uppercase;
    line-height: 75px;
}

/* navigation bar */

#nav-bar > li{
    font-size: 125%;
    font-weight: 100;
    list-style-type: none;
    
    margin-right: 25px;

}

#nav-bar{
    display: flex;
    float: right;
    line-height: 75px;
}

#nav-bar a{
    text-decoration: none; 
    color: #2E3033; 
}

#nav-bar a:hover{
    border-bottom: 3px solid #59606E;
    color: #59606E;
}

.current-page{
    border-bottom: 3px solid #2E3033;
}

/* opening image */

#opening-image{
    width: 50%; 
    height:550px;
    margin-left: 25px;
    border-radius: 15px;
    position: relative; 
    margin-top: 30px; 
}

/* quote */

#quote{
   font-family: Gloock, sans-serif;
   font-size: 110%;
   position: absolute;
   top: 40%;
   left: 6%;
   right: 50%;
   color: white;
   letter-spacing: 3px;
   word-spacing: 10px; 
}

#quote h4{
    float: right;
}

/* about section */

#about h2{
    font-size: 180%;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
}

#about p, #reading-benefits li{
    font-size: 250%;
    font-family: Dongle, sans-serif;
    line-height: 35px;   
}

#about{
    margin-right: 25px;
    position: absolute;
    left: 55%;
    top: 15%;
}

#about a{
    color:#7B9E7F;
}


/* benefits of reading */

#reading-benefits{
    margin-left: 25px; 
    position: absolute;
    left: 10%;
    right: 10%;
    padding-top: 5%;
     
}

#reading-benefits h2{
    font-size: 180%;
    text-transform: uppercase;
    line-height: 70px; 
}

/* social media links */

#media{
    width: 100%;
    height: 200px;
    background-color:#7B9E7F;
    position: absolute;
    top: 200%;
}